<p id="notice"><%= notice %></p>

<h1>Blog Statistics</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Domain</th>
      <th>Number Of Crawled</th>
      <th>Crawled Links</th>
      <th>Whitelist Links</th>
      <th>Indexed Links</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.domain %></td>
        <td><%= blog.num_of_crawled %></td>
        <td><%= link_to blog.links_count, blog_links_path(blog) %></td>
        <td><%= blog.links.white.count %></td>
        <td><%= blog.articles.count %></td>
        <td>
            <%= link_to 'Do Crawl', do_crawling_blog_path(blog), method: :post %> |
            <%= link_to 'Do Index', do_indexing_blog_path(blog), method: :post %> |
            <%= link_to 'Drop Index', drop_indexing_blog_path(blog), method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>