<p id="notice"><%= notice %></p>

<p>
  <strong>Domain:</strong>
  <%= @blog.domain %>
</p>

<p>
  <strong>Title selector:</strong>
  <%= @blog.title_selector %>
</p>

<p>
  <strong>Content selector:</strong>
  <%= @blog.content_selector %>
</p>

<p>
  <strong>Num of crawled:</strong>
  <%= @blog.num_of_crawled %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
