<%
meta title: @article.title,
     description: @article.desc
%>

<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
      <h1>
        <%= @article.title %>
      </h1>
      </div>
  <div class="row">
    <div class="col-md-8">
      <p>
        <%= image_tag @article.img, class: 'img-responsive' %>
      </p>

      <%= strip_tags(@article.content.truncate(300, omission: '...')) %>
      <a href="/preview?url=<%= @article.link.full_path %>">(baca selengkapnya)</a>
    </div>
    <div class="col-md-4">
    <% @related.each do |article| %>
      <h3><a href="/articles/<%= article.id %>"><%= article.title %></a></h3>
      <p><%= article.desc %></p>
    <% end %>
    </div>
  </div>
</div>


<!-- <%#= link_to 'Edit', edit_article_path(@article) %> | -->
<!-- <%#= link_to 'Preview', '/preview?url='+@article.link.full_path %> | -->
<!-- <%#= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %> | -->
<%#= link_to 'Back', articles_path %>
