<%
meta title: @article.title,
     description: @article.desc#,
     # keywords: %w(keyword1 keyword2 keyword3)
%>

<p id="notice"><%= notice %></p>

<h2>
  <%= @article.title %>
</h2>

<p>
  <%= image_tag @article.img, class: 'img-responsive' %>
</p>

<%= raw(@article.content.truncate(500, omission: '... <a href="'+@article.url+'">(continued)</a>')) %>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Preview', '/preview?url='+@article.link.full_path %> |
<%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', articles_path %>
