<% desc = [] %>
<% desc << @article.title.gsub('.','').gsub('?','') %>

<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <%= image_tag @article.img, class: 'img-responsive' %>
        <h1><%= @article.title %></h1>
        <p>
        <%= strip_tags(@article.content.truncate(400, omission: '...')) %>
        </p>
        <a href="/preview?url=<%= @article.url %>" class="btn btn-primary btn-large btn-block">Baca selengkapnya</a>
      </div>
    </div>
  </div>
  <div class="row">
    <% @related.each do |article| %>
       <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="tile">
          <%= image_tag id_to_thumbnail(article.id), class: 'img-circle tile-image bigger-illustration' %>
          <h3><%= link_to article.title, article_path(article.id) %></h3>
          <p><%= article.desc %></p>
          <%= link_to 'Intip ah!', article_path(article.id), class: "btn btn-primary btn-large btn-block" %>
          </div>
      </div>
      <% desc << article.title.gsub('.','').gsub('?','') %>
    <% end %>
  </div>
</div>

<%
  meta title: @article.title,
       description: desc.join(', ').humanize,
       twitter: {
         card: "summary",
         site: "@GIZIPP",
         title: @article.title + ' - GIZIPP',
         description: desc.join(', ').humanize,
         image: id_to_thumbnail(@article.id)
      },
      og: {
        type: 'article',
        title: @article.title + ' - GIZIPP',
        description: desc.join(', ').humanize,
        image: @article.img,
        url: @article.g_url,
        site_name: 'GIZIPP'
      }
%>
