<%= form_tag search_path, method: 'get' do %>
<%= label_tag :query %>
<%= text_field_tag :q, params[:q], class: 'form-control' %>
<%= submit_tag :search, class: 'btn btn-block btn-lg btn-primary' %>
<% end %>

<div id="search-result">
  <% @articles.each do |article| %>
    <h2><%= link_to article.title, article.url %></h2>
    <p><%= article.desc %></p>
    <div class="image-article"><%= image_tag article.img %></div>
  <% end %>
</div>

<div class="pagination">
            <ul>
              <li class="previous"><a href="#fakelink" class="fui-arrow-left"></a></li>
              <li class="active"><a href="#fakelink">1</a></li>
              <li><a href="#fakelink">2</a></li>
              <li><a href="#fakelink">3</a></li>
              <li><a href="#fakelink">4</a></li>
              <li><a href="#fakelink">5</a></li>
              <li><a href="#fakelink">6</a></li>
              <li><a href="#fakelink">7</a></li>
              <li><a href="#fakelink">8</a></li>
              <li class="next"><a href="#fakelink" class="fui-arrow-right"></a></li>
            </ul>
          </div>