<div class="text-right">
  <%= paginate @articles %>
  <p>Ditemukan <%= @articles.total_count %> artikel.</p>
</div>

<div id="search-result">
  <% @articles.each do |article| %>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-2">
        <%= image_tag id_to_thumbnail(article.id), class: 'img-responsive img-circle' %>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-10">
        <h4><%= link_to article.try(:highlight).try(:title) ? article.highlight.title[0].html_safe : article.title,
          controller: "articles",
          action: "show",
          id: article.id %></h4>
          <p>
        <% if article.try(:highlight).try(:content) %>
          <% article.highlight.content.each do |snippet| %>
            <%= snippet.html_safe %>
          ...
          <% end %>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

