<div class="row text-right">
  <%= paginate @articles %>
  <p>Ditemukan <%= @articles.total_count %> artikel.</p>
</div>

<div id="search-result">
  <% @articles.each do |article| %>
    <div class="row">
      <div class="col-xs-2">
        <%= image_tag article.img, class: 'img-responsive' %>
      </div>
      <div class="col-xs-10">
        <h4><%= link_to article.try(:highlight).try(:title) ? article.highlight.title[0].html_safe : article.title,
          controller: "articles",
          action: "show",
          id: article.id%></h4>
          <p>
        <% if article.try(:highlight).try(:content) %>
          <% article.highlight.content.each do |snippet| %>
            <%= snippet.html_safe %>
          ...
          <% end %>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


<!-- <div class="pagination">
  <ul>
    <li class="previous"><a href="#fakelink" class="fui-arrow-left"></a></li>
    <li class="active"><a href="#fakelink">1</a></li>
    <li><a href="#fakelink">2</a></li>
    <li><a href="#fakelink">3</a></li>
    <li><a href="#fakelink">4</a></li>
    <li><a href="#fakelink">5</a></li>
    <li><a href="#fakelink">6</a></li>
    <li><a href="#fakelink">7</a></li>
    <li><a href="#fakelink">8</a></li>
    <li class="next"><a href="#fakelink" class="fui-arrow-right"></a></li>
  </ul>
</div>
 -->
<%# will_paginate @articles %>
