<p id="notice"><%= notice %></p>

<h1><%= "("+@links.first.blog.links_count.to_s+" links)"+@links.first.blog.domain %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Path</th>
      <th>Whitelist</th>
      <th>Blacklist</th>
      <th>Unreachable</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link_to link.path, link.blog.domain+link.path %></td>
        <td><%= check_box_tag 'whitelist', link.id, link.whitelist, id: 'whitelist_'+link.id.to_s %></td>
        <td><%= link.blacklist %></td>
        <td><%= link.unreachable %></td>
        <td><%= link_to 'Show', blog_link_path(link.blog_id,link.id) %></td>
        <td><%= link_to 'Edit', edit_blog_link_path(link.blog_id,link.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Link', new_blog_link_path %>

<script type="text/javascript">
  var blog_id = <%= params[:blog_id] %>
  $("[id^=whitelist]").change(function() {
      $.ajax({
        url: '/blogs/'+blog_id+'/links/'+this.value+'/update_whitelist?whitelist='+(this.checked ? 1 : 0),
        method: "post",
        dataType: "script"
      })
  });
</script>
