<p id="notice"><%= notice %></p>

<h1><%= "("+@links.first.blog.links_count.to_s+" links)"+@links.first.blog.domain %></h1>
<h1><%= "("+@links.first.blog.links_count.to_s+" links)"+@links.first.blog.domain %></h1>

<table>
  <thead>
    <tr>
      <th>Path</th>
      <th>Whitelist</th>
      <th>Blacklist</th>
      <th>Unreachable</th>
      <th>Blog</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link_to link.path, link.blog.domain+link.path %></td>
        <td><%= link.whitelist %></td>
        <td><%= link.blacklist %></td>
        <td><%= link.unreachable %></td>
        <td><%= link.blog.domain %></td>
        <td><%= link_to 'Show', blog_links_path(link) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Link', new_blog_link_path %>
