<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "GIBIPP" %></title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <header class="navbar navbar-static-top" id="top" role="banner">
  <div class="container">
     <%= form_tag search_path, method: 'get', class: 'navbar-form navbar-left', role: 'search' do %>
    <div class="form-group">
      <div class="input-group">
      <%= text_field_tag :q, params[:q], class: 'form-control' %>
      <span class="input-group-btn">
                      <button type="submit" class="btn"><span class="fui-search"></span></button>
                    </span>
                    </div>
    </div>
  <% end %>
  </div>
</header>
      <div class="container">
        <%= yield %>
      </div>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>




