<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "GIBIPP" %></title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    "application" %>
    <%#= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
  </head>
  <body>
      <%= render partial: 'layouts/header' if !current_page?('/') %>
      <div class="container pull-down">
        <%= yield %>
      </div>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>